*
{
    margin:0;
    padding:0;
    font-family: "Roboto Slab", serif;
    font-weight: 200;
    font-style: normal;
}

/* modifying tags */

body
{
    background-color: #191919;
    color:rgb(224, 224, 224);
    font-size:1.5rem;
    height:100%;
}

hr
{
    border: 0.5px solid rgb(43, 43, 43);
    width:80%;
    margin:auto;
    margin-top:5px;
    margin-bottom:5px;
}

section
{
    margin: 10vh;
}

a
{
    color:#FAD166;
}

/* others */

#cursor-container
{
    width:100%;
    min-height:100%;
    position:absolute;
    overflow: hidden;
    z-index:-1;
}

#cursor
{
    position:relative;
    width:500px;
    height:500px;
    background: #161616;
    background: radial-gradient(#191919, #161616);
    border-radius: 50%;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

div:hover ~ #cursor
{
    transform: scale(0.2);
}

/* hero section */

@media only screen and (min-width: 800px) {
    #hero {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 95vw;
    }
    #hero-profile-content {
        width: 50%;
        padding-left:10vh;
        padding-right: 10vh;
        text-align: center;
    }
}

@media only screen and (max-width: 799px) {
    #hero {
        margin-left: auto;
        margin-right: auto;
        width: 95vw;
    }
    #hero-profile-content {
        width: 100%;
        margin-top:10vh;
        text-align: center;
    }
}

#hero-profile-pic
{
    width:300px;
    height:300px;
    display: block;
    margin:auto;
    border-radius: 25px;
    transition: 1s;
    background-image: url('/assets/my-photo.png');
    background-size: auto 300px;
    object-fit: fill;
}

#hero-profile-pic-glow
{
    opacity: 0;
    position: relative;
    z-index: -1;
    width:80%;
    margin:auto;
    height:2px;
    background-color:#edffb1; 
    border-radius: 500px;
    box-shadow: #fad166 0px 0px 25px;
}

#hero-profile-pic:hover ~ #hero-profile-pic-glow 
{
    animation: hero-profile-pic-glow-fade 1.5s ease-in-out forwards;
}

#hero-profile-pic:hover
{
    animation: hero-profile-pic-fade 1s ease-in-out forwards;
}

@keyframes hero-profile-pic-glow-fade {
    0%{opacity: 0;} 
    100%
    {
        opacity: 1;
    }
}

@keyframes hero-profile-pic-fade {
    0%{opacity:1;}
    50%
    {
        opacity: 0;
    }
    100% 
    {
        opacity: 1;
        transform:rotate3D(1,1,1,45deg);
        background-image: url('https://avatars.githubusercontent.com/u/71706645?v=4');
    } 
}


/* socials */

#socials
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#socials svg
{
    width:50px;
    stroke:rgb(85, 85, 85);
    transition:0.5s;
}

#socials svg:hover
{
    stroke:#FAD166;
    transform:scale(1.2);
}

/* resume download */

#resume-download
{
    text-align: center;
}